<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>Fledglink</title>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link rel="stylesheet" href="./jspm_packages/github/angular/bower-material@master/angular-material.css" />
  <link rel="stylesheet" href="assets/app.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-cloak layout="column" ng-controller="AppController as app">
  <md-content flex="100" layout="column">
    <div class="background-image" layout="column" style="min-height:416px;">
      <!-- Toolbar -->
      <div layout="row" layout-align="end center" class="md-accent">

        <!-- Regular -->
        <div ng-if="!app.isRetina() && !app.isMobile()" layout="row" layout-align="space-between center" layout-margin>
          <a href="mailto:fledglink@gmail.com" target="_blank"><img src="./assets/email icon.png" width="24px" height="24px" /></a>
          <a href="https://twitter.com/fledglink" target="_blank"><img src="./assets/Twitter icon.png" width="24px" height="24px" /></a>
          <a href="https://www.facebook.com/Fledglink-1192218404196656/" target="_blank"><img src="./assets/Facebook icon.png" width="24px" height="24px" /></a>
        </div>

        <!-- Retina -->
        <div ng-if="app.isRetina()" layout="row" layout-align="space-between center" layout-margin>
          <a href="mailto:fledglink@gmail.com" target="_blank"><img src="./assets/email icon@2x.png" width="24px" height="24px" /></a>
          <a href="https://twitter.com/fledglink" target="_blank"><img src="./assets/Twitter icon@2x.png" width="24px" height="24px" /></a>
          <a href="https://www.facebook.com/Fledglink-1192218404196656/" target="_blank"><img src="./assets/Facebook icon@2x.png" width="24px" height="24px" /></a>
        </div>

        <!-- Mobile -->
        <div ng-if="app.isMobile()" layout="row" layout-align="space-between center" layout-margin>
          <a href="mailto:fledglink@gmail.com" target="_blank"><img src="./assets/email icon@0.5x.png" width="24px" height="24px" /></a>
          <a href="https://twitter.com/fledglink" target="_blank"><img src="./assets/Twitter icon@0.5x.png" width="24px" height="24px" /></a>
          <a href="https://www.facebook.com/Fledglink-1192218404196656/" target="_blank"><img src="./assets/Facebook icon@0.5x.png" width="24px" height="24px" /></a>
        </div>
      </div>

      <!-- Super hero header -->
      <div layout="row" layout-align="start center" flex>
        <div flex-offset-gt-sm="15" flex-gt-sm="60" layout="row" layout-align="start center" layout-padding>
          <img hide-xs src="./assets/fledglink_logomark.png" width="202px" height="128px" />
          <div layout="column" layout-align="space-between stretch" layout-align-xs="space-between center">
            <img hide-xs src="./assets/fledglink_hero-wordmark.png" width="460px" height="171px" />
            <strong style="font-size:20px;">A podcast for people who think code is neat but don't know what they're doing with their lives...</strong>
            <span style="font-size:18px;width:85%;" >...starring two guys who think code is neat but don't know what they're doing with their lives</span>
            <div>
              <md-button ng-click="app.subscribe()" class="md-raised subscribe-btn hero-button">Subcribe</md-button>
              <md-button class="md-raised md-primary hero-button" ng-click="app.heroListen()">Listen</md-button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div layout="column" style="display:block;">
      <md-toolbar class="md-toolbar-tools" layout="row" layout-align="center center" style="font-size:12px;"><span>LATEST EPISODES</span></md-toolbar>

      <!-- Ep list -->
      <md-list style="padding:0;">
        <md-list-item ng-class="podcast.id%2 === 0 ? 'white-background' : 'md-light'" ng-repeat="podcast in app.podcasts" ng-init="podcast.moreClicked = false;">

          <!-- Unselected podcast (default state) -->
          <div flex="100" ng-click="app.select(podcast)" style="cursor:pointer;" ng-if="!podcast.selected">
            <div layout="row" layout-align="start center" flex-gt-sm="80">
              <div flex-offset-gt-sm="10" layout="column" layout-align="center center" flex="25">
                <md-button class="md-icon-button" ng-click="app.listen(podcast)">
                  <md-icon class="md-primary">play_circle_filled</md-icon>
                </md-button>
              </div>
              <strong style="color:teal;margin-left:16px;">{{podcast.title}}</strong>
            </div>
          </div>

          <!-- Podcast Player for selected podcast-->
          <div ng-show="podcast.selected" ng-hide="!podcast.selected" layout="row" layout-align="start center" flex-gt-sm="80">
            <div flex-offset-gt-sm="10" layout="column" layout-align="center center" flex="35" flex-gt-sm="25">
              <audio id="audio_{{podcast.id}}" controls>
                <source ng-src="{{ './podcasts/' + podcast.source}}" type="audio/mp3"> Your browser does not support the audio element.
              </audio>
              <!--<div layout="row" layout-align="space-around center">
                  <md-icon class="md-accent">fast_rewind</md-icon>
                  <md-button class="md-icon-button" ng-click="app.pause(podcast)" ng-hide="!podcast.playing">
                    <md-icon class="md-primary">pause_circle_filled</md-icon>
                  </md-button>                  
                  <md-button class="md-icon-button" ng-click="app.listen(podcast)" ng-hide="podcast.playing">
                    <md-icon class="md-primary">play_circle_filled</md-icon>
                  </md-button>
                  <md-icon class="md-accent">fast_forward</md-icon>
                </div>-->
            </div>
            <div flex-offset="5" layout="column" layout-align="start stretch" layout-margin flex>
              <span style="font-size:24px;color:initial;">{{podcast.title}}</span>
              <span style="color:initial;">
                    <span>{{podcast.description | limitTo:app.limit }}</span>
                    <md-list ng-if="podcast.moreClicked && podcast.notes.length > 0">
                      <strong>Episode Links:</strong>
                      <md-list-item ng-repeat="note in podcast.notes">                          
                          <span ng-if="note.link.indexOf('http://') === -1 && note.link.indexOf('https://') === -1">{{note.name}}</span>
                          <a ng-if="note.link.indexOf('http://') !== -1 || note.link.indexOf('https://') !== -1" ng-href="{{note.link}}" target="_blank">{{note.name}}</a>
                      </md-list-item>
                    </md-list>
                    <span ng-if="podcast.description.length > app.limit">... <md-button class="md-primary" ng-click="app.more(podcast)" style="background-color: transparent;" flex="20">More Info</md-button></span>
                    <span ng-if="podcast.moreClicked"><md-button class="md-primary" ng-click="app.less(podcast)" style="background-color: transparent;" flex="20">Less Info</md-button></span>
              </span>
            </div>
          </div>
        </md-list-item>
      </md-list>
    </div>
    <div ng-class="app.podcasts.length%2 === 0 ? 'white-background' : 'md-light'" flex></div>
    <md-button ng-click="app.subscribe()" layout="row" layout-align="center center" style="height:60px;margin:0;"><span>SUBSCRIBE</span></md-button>
  </md-content>


  <script src="./jspm_packages/system.js" type="text/javascript"></script>
  <script src="config.js" type="text/javascript"></script>
  <script type="text/javascript">
    System
      .import('src/boot/boot')
      .catch(console.error.bind(console)); // make sure any errors print to console
  </script>

</body>

</html>